$bleu1 : #0068e7;
$bleu2 : #2882ff;
$mauve : #c4a6ff;
$rose : #ffd2ff;
$blanc : #ffffff;

.Calendar{
  width: 100%;
}

#calendar {
  max-width: 1100px;
  height: 500;
  margin: 40px auto;
}
  
:root{
  --fc-bg-event-color : hsla(0,0%,30%,.3);
  --fc-non-business-color : hsla(0,0%,30%,.3);
  --fc-bg-event-opacity : 100;    
}

#fullResa{
  display: flex;
  gap: 0px 1em;
  justify-content: center;
}

#eventResa{
  background: $mauve;
  display: flex;
  color: white;
}

#eventCours{
  background: $mauve;
  display: flex;
  color: white;
}

.calendrier_comp{
  height: 82vh;
}