$bleu1 : #0068e7;
$bleu2 : #2882ff;
$mauve : #c4a6ff;
$rose : #ffd2ff;
$blanc : #ffffff;

.Calendar{
  width: 100%;
}

#calendar {
  max-width: 1100px;
  height: 500;
  margin: 40px auto;
}
  
:root{
  --fc-bg-event-color : hsla(0,0%,30%,.3);
  --fc-non-business-color : hsla(0,0%,30%,.3);
  --fc-bg-event-opacity : 100;    

  --fc-button-bg-color: #2882ff;
  --fc-button-border-color: #2882ff;
  --fc-button-hover-bg-color: #0068e7;
  --fc-button-hover-border-color: #0068e7;
  --fc-button-active-bg-color: #0068e7;
  --fc-button-active-border-color: #0068e7;
}

#fullResa{
  display: flex;
  gap: 0px 1em;
  justify-content: center;
}

#eventResa{
  width: 40%;
  display: flex;
  justify-content: space-around;
  padding: 2% 1% 2% 1%;
  color: white;
  background-color: $mauve;
}

#eventCours{
  width: 40%;
  display: flex;
  justify-content: space-around;
  padding: 2% 1% 2% 1%;
  color: white;
  background-color: $mauve;
}

.calendrier_comp{
  height: 82vh;
}