#favDialog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  border: none;
  border-radius: 5px;
  text-align: left;

  .formDialogPopupUser{
    width: auto;

    menu{
      display: flex;
      justify-content: center;
      margin-top: 20px;
      gap: 20px;
    }
  }
}