$bleu1 : #0068e7;
$bleu2 : #2882ff;
$mauve : #c4a6ff;
$rose : #ffd2ff;
$gris : rgb(227, 227, 227);

.PopUpUser{
  .titleTab{
    margin: 20px 0 40px 0;

    h2{
      text-align: left;
      padding-left: 10px;
      margin-bottom: 10px;
    }
  }

  table{
    width: 100%;

    td{
      text-align: center
    }

    td:last-of-type{
      border-right: none;
    }
  }

  p {
    text-align: center;
  }
}