$bleu1 : #0068e7;
$bleu2 : #2882ff;
$mauve : #c4a6ff;
$rose : #ffd2ff;
$gris : rgb(227, 227, 227);

.ViewUsers{
  position: relative;
  width: 88vw;
  text-align: center;

  .formAddUser{
    height: 85vh;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: white;
    overflow: auto;
  }

  #btnAddUser{
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 100%;
    font-size: 3rem;
    height: 4rem;
    width: 4rem;
  }

  .foreground{
    position: absolute;
    top: 0;
    width: 88vw;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
  }
}