$bleu1 : #0068e7;
$bleu2 : #2882ff;
$mauve : #c4a6ff;
$rose : #ffd2ff;
$gris : rgb(227, 227, 227);

.Object{
  width: calc(88vw - 39px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;

  .leftSide{
    display: flex;
    flex-direction: column;
    gap: 40px;

    .imgCard{
      width: 540px;
      height: 390px;
      background-color: lightgray;
    }

    h2{
      color: $bleu1;
    }

    article{
      width: 540px;
    }
  }

  .rightSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .calendar{
      width: 540px;
      height: 390px;
      border: 1px solid black;
    }
  }
}