$bleu1 : #0068e7;
$bleu2 : #2882ff;
$mauve : #c4a6ff;
$rose : #ffd2ff;
$gris : rgb(227, 227, 227);

.Object{
  position: relative;
  width: calc(88vw - 39px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  .flèche{
    position: absolute;
    top: 0;
    color: $mauve;
    font-size: 2rem;
    font-weight: bold;
  }

  .leftSide{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;

    .divImg{
      display: flex;
      flex-direction: column;

      .imgCard{
        width: 60%;
        height: auto;
        align-self: center;
        background-color: $gris;
        border-radius: 5%;
      }
    }

    .article{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }



    h2{
      font-size: 3.5rem;
      color: $bleu1;
      align-self: center;
    }

    article{
      width: 540px;
    }

    .code_barre{
      align-self: center;
    }
  }

  .rightSide{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y : hidden;

    .calendar{
      border: 1px solid $gris;
      padding: 15px;
      border-radius: 3%;
    }
  }
}