$bleu1 : #0068e7;
$bleu2 : #2882ff;
$mauve : #c4a6ff;
$rose : #ffd2ff;
$gris : rgb(227, 227, 227);

.Object{
  width: calc(88vw - 39px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  .leftSide{
    display: flex;
    gap: 20px;
    padding-bottom: 30px;

    .title{
      display: flex;
      flex-direction: column;
    }

    .article{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .imgCard{
      width: 80%;
      height: auto;
      align-self: center; 
      background-color: $gris;
      border-radius: 5%;
    }

    .flèche{
      color: $mauve;
      font-size: 2rem;
      font-weight: bold;
    }

    h2{
      font-size: 3.5rem;
      color: $bleu1;
      align-self: center;
    }

    article{
      width: 540px;
    }

    .code_barre{
      align-self: center;
    }
  }

  .rightSide{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y : hidden;

    .calendar{
      border: 1px solid $gris;
      padding: 15px;
      border-radius: 3%;
    }
  }
}