$bleu1 : #0068e7;
$bleu2 : #2882ff;
$mauve : #c4a6ff;
$rose : #ffd2ff;
$gris : rgb(227, 227, 227);

.ViewArticles{
  width: 88vw;
  .articlesContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vw;
    padding: 20px 40px 20px 40px;
  }
}