.App{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .pageContent{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    a{
      color: black;
      text-decoration: none;
    }

    .formError{
      color: red;
      font-size: 0.7em;
    }
  }
}
