$bleu1 : #0068e7;
$bleu2 : #2882ff;
$mauve : #c4a6ff;
$rose : #ffd2ff;

.Button {
  font-family: 'Lato', sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  padding: 1rem;
  color: white;
  font-size: 1.1em;

  &:hover{
    cursor: pointer;
  }

}
