@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$bleu1 : #0068e7;
$bleu2 : #2882ff;
$mauve : #c4a6ff;
$rose : #ffd2ff;
$blanc : #ffffff;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;

  #root{
    height: 100vh;
  }
}


