.NavBar {
  height: 100%;
  width: 10vw;
  padding-top: 2%;
  font-size: 0.9em;
  border-right: 1px solid black;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    button {
      align-self: center;
      margin-bottom: 3em;
    }

    ul {
      margin: 0 0 0 0.5em;
      padding: 0;
      line-height: 2.2em;
      text-align: left;
      list-style: none;

    }

    #divider{
      align-self: center;
      width: 90%;
      margin: 1.5em 0 1.5em 0;
      height: 0.5px;
      background-color: black;
    }
  }

}