$gris : rgb(227, 227, 227);

.NavBar{
  width: calc(12vw - 15px);
  border-right: 1px solid $gris;

  .contentNav {
    position: fixed;
    width: calc(12vw - 15px);
    font-size: 0.9em;
    font-weight: 600;

    nav{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;

      #btnAndMenu{
        position: absolute;
        top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .profilMenu{
          height: 100px;
          align-self: center;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          padding: 5%;
          border: 1px solid $gris;
          border-radius: 5px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          background-color: white;
          animation: dropdown 0.2s cubic-bezier(0, 0, 1, 1.31);
          transform-origin: top center;
        }

        @keyframes dropdown {
          0% {
            transform: scaleY(0);
          }
          100% {
            transform: scaleY(1);
          }
        }
      }

      ul {
        margin: 5.5rem 0 0 0.5rem;
        padding: 0;
        text-align: left;
        list-style: none;

        li{
          margin: 1.2rem 0 1.2rem 0;
        }
      }

      #divider{
        width: 90%;
        height: 0.5px;
        margin: 1em 0 1em 0;
        align-self: center;
        background-color: $gris;
      }

      #adminLink{
        margin-top: 0;
      }

    }
  }
}